.featured {
    padding-top:10px;
    widows: 100%;
    text-align: center;
}

.featured .featuredNav {
    margin: 5px auto 30px;
    text-align: center
}

.featured .featuredNav li {
    display: inline-block;
    margin: 0 -3px
}

.featured .featuredNav a {
    border-radius: 20px;
    color: #aaa;
    display: block;
    font-size: 15px;
    font-weight: 700;
    letter-spacing: -.018em;
    padding: 6px 18px 8px
}

.featured .featuredNav a:hover {
    color: #333
}

.featured .featuredNav a.active {
    background: #e8e8e8;
    color: #333
}