<div id="carousel-1" class="carousel slide multi-item-carousel" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <div class="item__third">
        <img class="rounded" src="../../../assets/follow.jpg" alt="">
      </div>
    </div>
    <div class="item">
      <div class="item__third">
        <img class="rounded" src="../../../assets/dream.jpg" alt="">
      </div>
    </div>
    <div class="item">
      <div class="item__third">
        <img class="rounded" src="../../../assets/color.jpg" alt="">
      </div>
    </div>
  </div>
  <a href="#carousel-1" class="left carousel-control" role="button" data-slide="prev"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span></a>
  <a href="#carousel-1" class="right carousel-control" role="button" data-slide="next"><span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
</div>
